*{
    margin: 0px;
    padding: 0px;
 }   
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color:rgba(18, 50, 146, 0.2);
  margin: auto;
  border: 1px solid #888;
  width: 30%;
  height: 30%;
  display: grid;
  justify-content: center;

}
#new{
    background-color: rgb(48, 29, 85,0.8);
    border-radius: 5%;
    width: 200px;
    height: 60px;
    color: seashell;
    font-size: 15px;

}
#new:hover{
    background-color: rgb(59, 37, 102);
    color: silver;
}
.game{
    font-size: 30px;
    color:rgb(161, 158, 192);
    text-align: center;
    margin-top: 20px;
}

#sound{
    width: 30px;
    z-index: 11;
    position: absolute;
    display: none;
}
#sound:hover{
    background-color:plum
}
#sound-on{
    width: 30px;
    z-index: 11;
    position: absolute;
    
}
#sound-on:hover{
    background-color:plum
}
#fader{
    position: absolute;
    opacity: 0.2;
    left: 150px;
    top: 10px;
    width: 70px;
    z-index: 10;
}
#fader:hover{
    opacity: 1;
}
#cursor{
    position: absolute;
    left: 45%;
    top: 30%;
    animation: move 6s ;
    animation-iteration-count: infinite;
}
#finger{
    position: absolute;
    left: 45%;
    top: 30%;
    display: none;
    animation: move 6s ;
    animation-iteration-count: infinite;
}
#finger img {
    width: 20px;


}

@keyframes move{
    from{    
        left: 42%;
        top: 30%;
    }
    25%{
        left: 48%;
        top: 25%;
    }
    50%{
        left: 54%;
        top: 30%;
    }   
    75%{
        left: 48%;
        top: 25%;
    } 
    100%{
        left: 42%;
        top: 30%;
        display: none;

    }
}
.dropbtn {
    background-color: rgb(48, 29, 85,0.3);
    color: seashell;
    width: 100px;
    height: 40px;
    font-size: 11px;
    margin-left: 35%;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    z-index: 10;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    
  }
  
  #dropdown-content div {
    color: silver;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #dropdown-content div:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5)
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: rgb(59, 37, 102);
    color: silver;
  }
#cou{
    position: absolute;
    font-size: 20px;
    color:silver;
    width: 98%;
    display: flex;
    justify-content: flex-end;    
}
#record{
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    color: silver;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
#overlay{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#startButton{
    background-color: rgb(48, 29, 85,0.8);
    border-radius: 5%;
    width: 200px;
    height: 60px;
    color: seashell;
    font-size: 15px;
    position: absolute;
    top: calc(50% - 30px);
    z-index: 2;
    opacity: 1;
    animation: start 2s;
}
@keyframes start{
    from{opacity: 0}
    to{opacity: 1}
}
#startButton:hover{
    background-color: rgb(59, 37, 102);
    color: silver;
}
#name{
    height: 20px;
    position: absolute;
    top: 54%;
    background-color: rgb(48, 29, 85, 0.1);
    color: rgb(192,192,192,0.8);
    opacity: 1;
    animation: start 2s;
}
#grid{
    display: grid;
}
.keypr{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:  rgb(48, 29, 85,0.5);
    text-align: center;
    color: silver;
    font-size: 18px;   
    opacity: 0;
}
@media only screen and (max-width: 1024px) {
    .keypr {
        display: none;
    }
}


#w{
    position: absolute;
    left: 50px;
    top: 85%;
}
#a{
    position: absolute;
    top: 90%;
}
#s{
    position: absolute;
    top: 90%;
    left: 50px;
}
#d{
    position: absolute;
    top: 90%;
    left: 100px;
}

@media only screen and (max-width: 950px) {
    .game{
        font-size: 18px;
        margin-top: 10px;
    }
    .keypr{
        display: none;
    }

    #startButton{
        width: 100px;
        height: 30px;
        top: calc(50% - 15px);
        font-size: 14px;
    }
    #new{
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
    #sound-on{
        width: 25px;
        height: 25px;
    }
    #sound{
        width: 25px;
        height: 25px;
    }
    #cou{
        font-size: 16px;
    }
    #record{
        font-size: 16px;
    }
    .modal-content{
        height: 20%;
    }

    #cursor{
        display: none;
    }
    #finger{
        display: block;
    }
    .updown{
        display: block;
    }
}

@media only screen and (max-width:800px){
    .game{
        font-size: 16px;
    }
    #startButton{
        width: 100px;
        height: 20px;
        top: calc(50% - 10px);
        font-size: 12px;
    }
    #new{
        width: 100px;
        height: 20px;
        font-size: 14px;
    }
    .updown{
        display: block;
    }

    #cursor{
        display: none;
    }
    .keypr{
        display: none;
    }
    #finger{
        display: block;
    }
}

@media only screen and (max-width:500px){

    #cursor{
        display: none;
    }
    .keypr{
        display: none;
    }
    #finger{
        display: block;
    }
    .updown{
        display: block;
    }
}
